ol, ul {
    margin-top: 0;
    width:fit-content;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}
h2{
    padding: 1%;
    border: solid 3px blue;
    margin: 0 10%;
    flex: auto;
    display: flex;
    border-radius: 10px;
    flex: 0 0 auto;
}
h1{
    text-align: center;
    border: solid 10px blue;
    border-radius: 10px;
}
.flex{
    display: flex;
    margin: 0 10%;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
#images{
    display:flex;
    justify-content: space-between;
}
img{
    height:40%;
    width: 40%;
}
a{
    text-decoration: none;
}