ol, ul {
    margin-top: 0;
    width:fit-content;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}
h2{
    padding: 30px;
    border: solid 3px blue;
    margin-top: 0;
    width:fit-content;
    margin-right: auto;
    margin-left: auto;
}
h1{
    text-align: center;
    border: solid 10px blue;
    background-color: green;
    margin: 0;
}
div{
    padding: 0;
    border: solid 10px red;
    margin-bottom: 3%;
}
