ol, ul {
    margin-top: 0;
    width:fit-content;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}
h2{
    padding: 1%;
    border: solid 3px blue;
    margin: 0 10%;
    flex: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    border: solid 10px blue;
    background-color: green;
}
.flex{
    display: flex;
    margin: 0 10%;
    width: auto;
    flex-direction: column;
    height: 100px;
}
#images{
    display:flex;
    justify-content: space-between;
    margin:0 10%;
}
